// Default params
params {
  output_dir="./output"
  pipeline_info = "${params.output_dir}/pipeline_info"
  help = false
  version = false

  // Input & output
  assemblies = false
  existing_tsv = false

  // General options
  multi = 'first'
  
  // Alignment workflow files and options
  alignment = false
  reference = false
  raxml_prefix = 'verticall'
  raxml_starting_trees = 'pars{10},rand{10}'
  raxml_model = 'GTR+G'
  raxml_bootstraps = false
  raxml_bs_trees = 100

  // Distance workflow files and options

  
}

trace {
  enabled = true
  file = "${params.pipeline_info}/pipeline_stats.txt"
  overwrite = true
  fields =  "task_id,\
  hash,\
  process,\
  tag,\
  status,\
  exit,\
  start,\
  peak_rss,\
  cpus,\
  time,\
  disk,\
  memory,\
  duration,\
  realtime,\
  queue,\
  %cpu,\
  %mem,\
  rss,\
  vmem,\
  rchar,\
  wchar"
}

timeline {
  enabled = true
  overwrite = true
  file = "$params.pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.pipeline_info/execution_report.html"
}