

profiles {
    standard {
        includeConfig 'base.config'
        executor {
            name = 'slurm'
            queueSize = 200
            pollInterval = '10 sec'
            queueStatInterval = '10m'
        }
        process {
            withName: VERTICALL_REPAIR {
                cpus = 8
                memory = 32.GB
            }
            withName: VERTICALL_PAIRWISE {
                time = '3 days'
                cpus = 32
                memory = 128.GB
            }
            withName: VERTICALL_MATRIX {
                cpus = 16
                memory = 64.GB
            }
            withName: VERTICALL_FASTME {
                cpus = 16
                memory = 64.GB
            }
            executor = 'slurm'
            stageInMode = 'symlink'
            errorStrategy = 'retry'
            maxRetries = 3
            cache = 'lenient'
            beforeScript = 'module load anaconda'
            clusterOptions = {
                qos = task.time <= 30.minutes ? 'shortq' : 'normal'
                partition = task.time <= 30.minutes ? 'short,comp' : 'comp'
                return "--qos=${qos} --partition=${partition}"
            }
        }
    }
    local {
        process {
            conda = "${baseDir}/conda_environments/verticall.yml"
        }
        conda.enabled = true
        conda.useMamba = true
        process.executor = 'local'
        includeConfig 'base.config'
    }
}