
process {
    withName: VERTICALL_REPAIR {
    conda = "${baseDir}/conda_environments/verticall.yml"
    }
    withName: VERTICALL_PAIRWISE {
    conda = "${baseDir}/conda_environments/verticall.yml"
    }
    withName: VERTICALL_MATRIX {
    conda = "${baseDir}/conda_environments/verticall.yml"
    }
    withName: VERTICALL_FASTME {
    conda = "${baseDir}/conda_environments/verticall.yml"
    }
    
}

profiles {
    standard {
        includeConfig 'base.config'
        conda.enabled = true
        executor {
            name = 'slurm'
            queueSize = 200
            pollInterval = '10 sec'
            queueStatInterval = '10m'
        }
        process {
            executor = 'slurm'
            stageInMode = 'symlink'
            errorStrategy = 'retry'
            maxRetries = 3
            cache = 'lenient'
            beforeScript = 'module load anaconda'
            clusterOptions = {
                qos = task.time <= 30.minutes ? 'shortq' : 'normal'
                partition = task.time <= 30.minutes ? 'short,comp' : 'comp'
                return "--qos=${qos} --partition=${partition}"
            }
        }
    }
    local {
        process.executor = 'local'
        includeConfig 'base.config'
        conda.enabled = true
    }
}