// Default params
params {
  // General
  workflow = false
  help = false
  version = false

  // Input/Output
  assemblies = false
  existing_tsv = false
  output_dir = "./output"
  pipeline_info = "${params.output_dir}/pipeline_info"

  // Verticall options
  multi = 'first'

  // Alignment workflow files/options
  reference = false
  alignment = false

  // Tree building options
  tree_builder = 'raxmlng'
  tree_prefix = 'verticall'

  // RAxML-NG tree builder options
  raxml_starting_trees = 'pars{10},rand{10}'
  raxml_model = 'GTR+G'
  raxml_bootstraps = false
  raxml_bs_trees = 100

  // IQ-tree tree builder options
  iqtree_bootsraps = false
  iqtree_bs_trees = 1000
  iqtree_bs_bnni = true
}
